.shop-popup h1 {
  font-size: 24px;
}

.shop-popup .osm-link {
  display: inline-block;
  width: 16px;
  height: 16px;

  img {
    width: 100%;
    height: 100%;
  }
}

.shop-popup .currently-open {
  color: green;
}

.shop-popup .currently-closed {
  color: red;
}
